* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Evita que os elementos aumentem de tamanho inesperadamente facilitando o controle da responsividade  */
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    background-color: #000000;
    color: white;
    padding: 1.5rem;
    /* poderia ser 24px */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    position: sticky;
    /* posicionamento do header para sobrepor os outros elementos  */
    left: 0;
    top: 0;
    z-index: 999;
}

.div-logo img {
    width: 25%;
}

/*  */
.div-button a button {
    width: 5rem;
    /* Poderia ser 80px */
    padding: 0.5rem;
    /* 8px - preencimento */
    color: #1a0b2a;
    border: none;
    font-weight: 800;
    border-radius: 15px;
}

.section-01 {
    padding: 9rem;
    /*preenchimento interno da section */

    background-image: url(imagens/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* poderiamos usar 32px */
    flex-wrap: wrap;
    /* isso significa que as div poderao quebrar de linha, caso necessario */
}

.div01 {
    background-color: rgba(0, 0, 0, 0.747);
    color: #ff2a00;
    /* cor do texto */
    text-align: center;
    /* alinhamento centralizando os textos */
    font-size: 2rem;
    /* tamanho da letra dentro da caixa */
    padding: 1rem;
    /* preenchimento da caixa */
    width: 25%;
    /* largura da caixa em porcentagem */
    height: 20rem;
    /* altura da caixa utilizando o REM  */
    min-width: 299px;
    border-radius: 15px;
}

.div02 {
    width: 25%;
    height: 20rem;
    min-width: 299px;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(248, 2, 27, 0.397) 0%, rgba(0, 13, 6, 0.281) 50%, rgba(219, 10, 10, 0.199) 100%), url(imagens/cinema.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.div02 div {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.div02 div i {
    color: antiquewhite;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.ul-div1 li a {
    text-decoration: none;
    color: white;
    background-color: #000000;
    padding: 3px;
    font-size: 1.4rem;
}

.ul-div1 li {
    margin: 5px 5px;
    /* alterando os quatros lados externos dos elementos, primeiro valor (superior, inferior) e segundo valor ( laterais esquerda e direita)  */
}

.img-div {
    padding: 3%;
    background-image: url(imagens/18e2b4c03f668435146ca8ec75a05489.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.section-02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #000000;
}

.caixa{
    width: 25%;
    height: 22rem;
    background-color: red;
    min-width: 299px;
    font-size: 1.2rem;
    color: #000000;
   
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.caixa:hover{
    box-shadow: 4px 4px 6px red;
    transition: 0.8s;
}

.section-03{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #000000;
    flex-wrap:wrap ;
}

.div-03, .div-04{
    height: 15rem;
    padding: 1.5rem;
    text-align: center
}

.textos{
    text-align:start ;
    margin-top: 1rem;
}

.icons i{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    margin-top: 1.2rem;
}

.ancora-div04 a button{
    padding: 0.5rem;
    background-color: #000000;
    color: white;
    font-weight: 600;
    margin: 1rem 0;
    border-radius: 10px;
} 

.texto-div04 p{
    font-size: 1.4rem;
    color: white;
}

.section-04{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #000000;
    flex-wrap:wrap ;
}

.rodape{
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: red;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
}

.ancoras-rodape{
    color: white;
    text-decoration: none;
}

.ancoras-rodape:hover{
    color:red;
    transition: 0.8s;
}

.social-media{
    padding: 1,5rem;
}

.social-media i{
    color: white;
    font-size: 2rem; /* 32px tamanho da fonte */
    margin: 0.5rem; /* espacamento em volta dos icon 4 lados */
}

.line{
    width: 60%;
    margin: 0.5rem auto;
    border: none;
    height: 3px;
    background-color: white;
}

.div-list ul li{
    margin-bottom: 0.4rem;
}

.caixa img{
    width: 100%;
    height: 60%;
    border-radius: 6px;
}

.botoes{
     padding: 0.5rem;
    background-color: #000000;
    color: white;
    font-weight: 600;
    margin: 1rem 0;
    border-radius: 10px;

}



@media (max-width:600px){
    .content{
        flex-direction: column;
    }
}